= breadcrumb ["Admin", admin_path], ["Photos", admin_photos_path], photo.title

= image_tag photo.image_url(:medium)
.float-right = photo.share_button
h2 = photo.title
.description = photo.description
= photo.admin_status
