.random-photo-thumbnail
  text-align: center
  margin: 0.5em 0 0 0
  display: inline-block
  img
    max-width: 100%
    max-height: 100%

.photo-thumbnails
  text-align: center
  .photo-thumbnail
    display: inline-block
    float: left
    margin: 0
    padding: 5px
    img
      display: inline-block
      max-width: 100%
      max-height: 100%
    &:hover img
      box-shadow: 0 0 15px rgba(0,0,0,0.5)
      z-index: 10
    &.medium
      max-width: 500px
      max-height: 350px
    &.thumb
      max-width: 250px
      max-height: 175px

.show-photo
  padding: 1em 0.1em
  position: relative
  .image
    text-align: center
  img
    display: block
    margin: auto
    max-width: 100%
    max-height: 100%
  .footnote
    margin: 0.5em 0
    font-size: 90%
  .fb-like
    margin-top: 10px
    float: right
  #published-tweet
    margin: 1em 0
  .siblings_buttons
    a
      color: #333
      font-size: 35px
      position: absolute
      top: 7em
      &:hover
        text-decoration: none
    .glyphicon-chevron-left
      left: -45px
    .glyphicon-chevron-right
      right: -45px

@media (max-width: 750px)
  .photo-thumbnails .photo-thumbnail
    float: none
    margin: 0.2em 0

  .random-photo-thumbnail
    float: left
    margin: 0.5em 1em 0.5em 0
    max-width: 33%
