.photo-thumbnail
  display: block
  margin: 0.5em 0
  text-align: center
  img
    max-width: 100%
    max-height: 100%
  &:hover img
    box-shadow: 0 1px 5px #aaa

.show-photo
  padding: 1em 0.1em
  img
    display: block
    margin: auto
    max-width: 100%
    max-height: 100%
  .footnote
    margin: 0.5em 0
    font-size: 90%
