.user-public-profile       // used for @cuxibamba on main page
  margin: 2em 0.3em
  padding: 1em
  border-radius: 0.3em
  h3
    margin-top: 3px
  a
    color: #333
  .image img
    margin-top: 8px
    margin-left: 5px
  .social-buttons
    overflow: hidden

@media (max-width: 380px)
  .user-public-profile .image img
    margin-left: -10px

.user-avatar
  border-radius: 50%
  &.mini
    margin: 0 2px
    max-width: 18px
    max-height: 18px
